header {
	background: #bbbbbb;
	padding: 10px 0;
	
}

.caixa {
	position: relative;
	width: 1240px;
	margin-left: 2%
}

h1 img{
  width: 20%; 
}

nav {
	position: absolute;
	top: 42px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #015204;
	text-decoration-line: underline;


}

footer {
	background-color: #363636;
	color:  #CCCCCC;
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
  }

footer a {
	color:  #CCCCCC;
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
	text-decoration: none;
  }