body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2, h3 {
    color: #696969;
}

a {
    color: #D3D3D3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin-left: 20px;
}

.navbar {
background-color: #696969;
padding: 10px 20px;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbar .logo {
font-size: 24px;
font-weight: bold;
}

nav ul {
list-style: none;
display: flex;
}

nav ul li {
margin-left: 20px;
}

nav ul li a {
color: white;
font-size: 24px;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #696969;
    color: #fff;
    border-radius: 8px;
}