.projeto{
	text-align: center;
	vertical-align: top;
	padding: 12px  ;
	background: #CCCCCC;

}

.titulo{
	color: #1C1C1C; 
	font-size: 25px;
	font-family: "COURIER";
	text-align: center; 
	padding: 40px 30px ; 
}

.tabela div {
	background: #CCCCCC;
	display: inline-block;
	width: 40%;
	vertical-align: top;
	padding: 0px 30px ;
	
}

.texto {
	color: #1C1C1C; 
	font-size: 15px;
	font-family: "COURIER";
	text-align: center; 
}


