* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

a {
    color: #696969;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #696969;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 24px;
}


.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:#696969;
    margin-bottom: 20px;
}

h2 {
    color:#696969;
    margin-top: 30px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    margin-left: 20px;
}

 footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px 0;
            background: #696969;
            color: #fff;
            border-radius: 8px;
        }

